@import '../../scss/_reference.scss';

.button {
    background: var(--color-grey-300);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: rem-calc(16);
    font-weight: 700;
    line-height: 32px;
    padding: 5px 20px;

    &--primary {
        background: var(--color-white);
        color: var(--color-grey-700);
    }

    &--error {
        color: var(--color-error);
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--icon {
        border-radius: 50%;
        padding: 8px 10px;
    }

    &--text {
        background: none;
        border: none;
        padding: 0;
    }

    + .button {
        margin-right: 10px;
    }
}
