@import '../../scss/reference';

.squadron-meta {
  margin: 5px 0 30px;
  order: 1;

  @include respond-to(xlarge) {
    grid-column: auto / span 8;
    margin: 0;
    order: initial;
  }

  @include respond-to(xxlarge) {
    grid-column: auto / span 6;
  }

  &__list {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 20%;
    text-align: left;

    &--plane-stats {
      display: none;

      @include respond-to(xlarge) {
        display: block;
      }
    }
  }

  &__value {
    color: var(--color-shade-light);
    font-size: 3.157rem;
    margin: 0;

    @include respond-to(xlarge) {
      color: var(--color-shade-dark);
    }
  }

  &__identifier {
    color: var(--color-shade-dark);
    display: block;
    font-size: rem-calc(14px);
    font-weight: 400;

    @include respond-to(xlarge) {
      color: var(--color-shade-dark);
    }
  }

  &__suffix {
    font-size: rem-calc(14px);
  }
}