@import '../../scss/reference';

.squadron-element {
  align-items: flex-start;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  max-width: 768px;
  text-align: left;
  width: 100%;

  &__header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__remove {
    margin-top: 6px;
  }

  &__title {
    color: var(--color-shade-light);
    margin: 0;
    max-width: 470px;
    width: 100%;
  }

  &__pilots {
    padding: 5px 0;
    width: 100%;
  }
}