@import '../../scss/reference';

.selectable-element {
  align-items: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: calc(var(--border-radius) / 2);
  color: var(--color-shade-light);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 82px;
  margin: 5px;
  opacity: 0.5;
  padding: 10px 5px;
  position: relative;
  transition: $transition-default;
  width: 82px;

  &:hover {
    opacity: 0.8;
  }

  &__name {
    display: block;
    font-size: rem-calc(12);
    flex: 0 0 auto;
    width: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__points {
    font-size: rem-calc(18);
    font-weight: 700;
    margin: 0 0 3px;
  }

  &--is-active {
    border-left-color: var(--color-accent-dark);
    border-left-width: 3px;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--is-placeholder {
    align-items: center;
    border-style: dashed;
    justify-content: space-around;
  }
}