@import '../../scss/reference';

.selectable-element {
  align-items: center;
  background: var(--color-background);
  border: none;
  border-radius: calc(var(--border-radius) * 1.5);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 82px;
  margin: 5px 5px 15px;
  overflow: hidden;
  padding: 10px 5px;
  position: relative;
  transition: $transition-default;
  width: 82px;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    background: var(--color-accent-dark);
    content: '';
    left: -5px;
    height: 82px;
    position: absolute;
    top: 0;
    transition: $transition-default;
    width: 5px;
  }

  &__name {
    display: block;
    font-size: rem-calc(12);
    flex: 0 0 auto;
    width: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__points {
    font-size: rem-calc(18);
    font-weight: 700;
    margin: 0 0 3px;
  }

  &--is-active {
    background: var(--color-accent-dark);
    color: var(--color-shade-light);
    opacity: 1;

    &::before {
     transform: translateX(5px);
    }

    &:hover {
      opacity: 1;
    }
  }

  &--is-placeholder {
    align-items: center;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: dashed;
    color: rgba(255, 255, 255, 0.6);
    justify-content: space-around;
    opacity: 1;

    &::before {
      display: none;
    }
  }
}