@import '../../../scss/reference';

.create-squadron {

  &__label {
    display: block;
    font-family: var(--font-family);
    font-size: rem-calc(15);
    font-weight: 700;
    width: 100%;
  }

  &__factions,
  &__planes {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
  }

  &__faction,
  &__plane {
    display: block;
  }
}