@import '../../scss/reference';

.selector-card {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 5px;

  &__input {
    display: none;

    &:checked ~ .selector-card__icon {
      border-color: var(--color-primary-500);
      color: var(--color-primary-500);
    }
  }

  &__icon {
    align-items: center;
    background: var(--color-grey-10);
    border: 2px solid var(--color-grey-200);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    height: 120px;
    justify-content: space-around;
    padding: 20px 0;
    pointer-events: none;
    text-align: center;
    width: 120px;
  }
}