@import '../../scss/reference';

.squadrons {

  &__factions {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
  }

  &__faction {
    font-size: rem-calc(14);
    font-weight: 600;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    position: relative;

    &::after {
      bottom: -10px;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      min-width: 15px;
      position: absolute;
      transition: $transition-default;
      width: 0;
    }

    &--is-active {
      color: var(--color-anchor-active);

      &::after {
        background: var(--color-anchor-active);
        width: 50%;
      }

      &:visited {
        color: var(--color-anchor-active);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
  }
}