@import '../../scss/_reference.scss';

.faction-selector {
    order: 2;

    @include respond-to(large) {
        grid-column: auto / span 4;
        order: initial;
    }

    &__factions {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
