@import '../../scss/reference';

.navbar {
  align: center;
  background: transparent;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100vw;

  @include respond-to(large)
  {
    width: calc(100vw - 110px);
  }

  &__title {
    font-size: 16px;
    line-height: 60px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    background: none;
    border: none;
    color: var(--color-primary-500);
    font-size: 18px;
    font-weight: bold;
    width: 60px;
  }

  &::after {
    content: '';
    display: block;
    width: 60px;
  }
}