@import '../scss/reference';

@import "../scss/variables";
@import "../scss/base";

.app {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0;

  @include respond-to(large)
  {
    padding: 0;
  }

  &__content {
    padding: 50px 100px;
    width: calc(100vw - 400px);
  }

  &__identity {
    text-decoration: none;
  }

  &__title {
    color: var(--color-text);
    font-size: rem-calc(28);
  }

  &__actions {
    align-items: flex-start;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
  }
}