@import '../../scss/reference';

.sidebar {
  background: var(--color-grey-100);
  border-right: 1px solid var(--color-border);
  padding: 40px 0;
  width: 400px;

  &__identity {
    margin-bottom: 100px;
    padding: 0 50px;
  }

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    width: 100%;

    &:last-child {
      border-right: transparent;
    }
  }

  &__icon {
    color: var(--color-anchor);
    margin-right: 15px;
    transition: $transition-default;
  }

  &__link {
    border-left: 3px solid transparent;
    color: var(--color-anchor);
    display: block;
    font-family: var(--font-family-header);
    font-size: rem-calc(16);
    font-weight: 600;
    line-height: 60px;
    padding: 0 50px;
    text-decoration: none;
    transition: $transition-default;
    width: 100%;

    &:visited {
      color: var(--color-anchor);

      .sidebar__icon {
        color: var(--color-anchor);
      }
    }

    &:hover {
      border-left-color: var(--color-anchor-hover);
      color: var(--color-anchor-hover);

      .sidebar__icon {
        color: var(--color-anchor-hover);
      }
    }

    &--is-active {
      border-left-color: var(--color-anchor-active);
      color: var(--color-anchor-active);

      .sidebar__icon {
        color: var(--color-anchor-active);
      }

      &:visited {
        color: var(--color-anchor-active);

        .sidebar__icon {
          color: var(--color-anchor-active);
        }
      }
    }
  }
}