@import '../../scss/reference';

.sidebar {
  background: var(--color-grey-100);
  border-right: 1px solid var(--color-border);
  padding: 40px 50px;
  width: 400px;

  &__identity {
    margin-bottom: 100px;
  }

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    width: 100%;

    &:last-child {
      border-right: transparent;
    }
  }

  &__link {
    color: var(--color-grey-900);
    display: block;
    font-size: rem-calc(18);
    font-weight: 500;
    line-height: 60px;
    text-decoration: none;
    width: 100%;

    &:visited {
      color: var(--color-grey-900);
    }

    &--is-active {
      color: var(--color-primary-200);
    }
  }
}