@import '../../scss/_reference.scss';

.selector-container {
    order: 2;

    @include respond-to(large) {
        grid-column: auto / span 4;
        order: initial;
    }

    &__items {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -5px;
    }
}
