@import '../../scss/_reference.scss';

.selector-container {
    order: 2;

    @include respond-to(large) {
        grid-column: auto / span 4;
        order: initial;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 88px);
        margin: 5px -5px;

        @include respond-to(medium) {
            grid-template-columns: repeat(auto-fill, 120px);
        }

        @include respond-to(xlarge) {
            grid-template-columns: repeat(auto-fill, 110px);
        }

        @include respond-to(xlarge) {
            grid-template-columns: repeat(auto-fill, 140px);
        }
    }
}
