@import '../../scss/_reference.scss';

.form-input {
    &__label {
      display: block;
      font-size: rem-calc(15);
      font-weight: 700;
      margin-bottom: 8px;
    }

    &__input {
      border: var(--color-border);
      color: var(--color-text);
      font-size: rem-calc(16);
      line-height: rem-calc(32);
      padding: 5px 20px;
      width: 100%;

      &::placeholder {
        font-size: rem-calc(15);
      }
    }

  &__error {
    color: var(--color-error);
    display: block;
    font-size: rem-calc(14);
    font-weight: 400;
    margin: 4px 0;
  }
}
