@import './reference';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: var(--color-grey-500);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-header);
}

a {
  color: var(--color-anchor);

  &:active,
  &:focus {
    color: var(--color-anchor-active);
  }

  &:visited {
    color: var(--color-anchor);
  }
}