@import './reference';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,900&display=swap');

:root {
  --background-pattern-size: 40px;
  --background-pattern-width: 2px;
  --background-pattern-color: var(--color-accent-light);
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  color: var(--color-text-header);
  margin: 2.75rem 0 1.05rem;
  font-family: var(--font-family-header);
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75em;}

a {
  color: var(--color-anchor);

  &:active,
  &:focus {
    color: var(--color-anchor-active);
  }

  &:visited {
    color: var(--color-anchor);
  }
}

.placeholder-icon {
  background: var(--color-primary);
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  height: 64px;
  margin: 5px;
  width: 64px;
}