@import './reference';

:root {
  --color-grey-100: #FCFEFE;
  --color-grey-200: #FAFEFE;
  --color-grey-400: #F7FAFD;
  --color-grey-500: #F6F8FC;
  --color-grey-600: #f5f7fb;
  --color-grey-700: #eff1f7;
  --color-grey-800: #a0a2af;
  --color-grey-900: #36383e;
  --color-grey-990: #191919;

  --color-text: var(--color-grey-900);
  --color-text-light: var(--color-grey-800);
  --color-text-header: var(--color-grey-900);
  --color-text-highlight: var(--color-grey-800);

  --color-anchor: var(--color-grey-800);
  --color-anchor-active: var(--color-grey-900);
  --color-anchor-hover: var(--color-grey-900);

  --color-border: var(--color-grey-700);

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-header: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --border-radius: 8px;
}